:root {
  --mainBgColor: #F5F8FB;
  --fontColor: #0A0A0A;
  --legendColor: #717182;
  --containerBgColor: #FFFFFF;
  --boxesBgColor: #F3F3F5;
  --tipBoxesBgColor: #F8FAFC;
  --borderColor: #E5E5E5;
  --globalBorderRadius: clamp(8px, 2vw, 12px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

#root {
  background-color: var(--mainBgColor);
  color: var(--fontColor);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  header {
    width: 100vw;
    padding: clamp(0px, 3vw, 46px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: clamp(16px, 30vw, 36px);
      margin-bottom: clamp(8px, 1.5vw, 18px);
      font-weight: 600;
    }
    legend {
      font-size: clamp(12px, 20vw, 24px);
      color: var(--legendColor);
    }
  }
  #contentContainer {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: clamp(8px, 2vw, 18px);
    padding: clamp(8px, 2vw, 18px);
    #contentAside {
      display: flex;
      flex-direction: column;
      gap: clamp(12px, 2.5vw, 24px);
      #CA-equationForm, #CA-initialConditionsForm {
        background-color: var(--containerBgColor);
        padding: clamp(12px, 2.5vw, 24px);
        border: 1px solid var(--borderColor);
        border-radius: var(--globalBorderRadius);
        box-shadow: 2px 2px 12px rgba(0, 0, 0, .1);
        h3 {
          font-size: clamp(14px, 25vw, 28px);
          margin-bottom: clamp(1px, 1.5vw, 8px);
          font-weight: 600;
        }
        legend {
          font-size: clamp(10px, 20vw, 20px);
          color: var(--legendColor);
          margin-bottom: clamp(12px, 2.5vw, 24px);
        }
        label {
          font-size: clamp(12px, 20vw, 20px);
          font-weight: 500;
        }
        input[type="text"] {
          width: 100%;
          padding: clamp(0px, 2vw, 12px);
          background-color: var(--boxesBgColor);
          margin-top: clamp(4px, 1.5vw, 8px);
          margin-bottom: clamp(8px, 2vw, 16px);
          border: 1px solid var(--borderColor);
          border-radius: var(--globalBorderRadius);
          font-size: clamp(0px, 20vw, 16px);
          font-family: Consolas, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
        }
        button {
          padding: clamp(8px, 2vw, 16px) clamp(12px, 2.5vw, 24px);
          font-size: clamp(12px, 20vw, 20px);
          color: #FFFFFF;
          background-color: #007BFF;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        .CA-notationEx {
          background-color: var(--tipBoxesBgColor);
          padding: clamp(0px, 2vw, 16px);
          border-radius: var(--globalBorderRadius);
          color: var(--legendColor);
          legend {
            font-size: clamp(10px, 20vw, 18px);
            color: var(--legendColor);
            margin-bottom: clamp(8px, 2vw, 16px);
          }
          ul {
            list-style-type: disc;
            margin-left: clamp(16px, 3vw, 32px);
            li {
              font-size: clamp(10px, 2vw, 18px);
              margin-bottom: clamp(4px, 1.5vw, 8px);
            }
          }
        }
      }
    }
  }
}